<% include ./partials/header.ejs %>




<div class="background">
  <div class="transbox col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h1>WELCOME </h1>
      <div class='text-center'>
          <a href="/signup" class="btn btn-primary btn-large">Sign Up</a>
          <a href="/login" class="btn btn-primary btn-large">Sign In</a>
      </div>
      <br>
  </div>
</div>


<% include ./partials/footer.ejs %>
