<% include ./partials/header.ejs %>

<!-- script -->
<script src="js/edit.js"></script>

<section id='player-form' class="container playerForm">
  <h1>Characters</h1>

  <h1>Here's a list!</h1>
  <div id="myCharacters">
  	<% for(var i=0; i<userPlayers.length; i++) { %>
  		<h2><%= userPlayers[i].name %></h2>
  		<ul>
  			<li><b>Action: </b> <%= userPlayers[i].action %></li>
  		</ul>
  		<br>
  		<img src="<%= userPlayers[i].image %>">
  		<br>
  		<a href="/myBeers/<%= userPlayers[i]._id %>" class="btn btn-warning">Delete</a>
  		<br>
  	<% } %>
  </div>

<% include ./partials/footer.ejs %>
